<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}</h2>
    </div>
    <div class="panel-body">

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <input type="submit" id="_submit" name="_submit" class="btn btn-primary"
                           value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"/>
                </div>
            </div>
        </form>
    </div>
</div>