{% extends "WebBundle::pagelayout.html.twig" %}
        {% block title %}
            <title>
                Oculto - Полезно знать
            </title>
        {% endblock %}
{% block metateg %}
    <meta name="description" content="occulto - о квестах">
    <meta name="keywords" content="квест, комната, рум, эскейп, квест, игра, загадки, секрет, правила, подсказки" />
{% endblock %}

{% block page_head_js %}
    {{ parent() }}

{% endblock %}

{% block welcome %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-md-offset-1">
            <div class="row">
            </div>
        </div>
    </div>
</div>

<div class="index_text_block_quest" id="first">
    <div class="row">
        <div class="col-sm-10 col-md-offset-1 quest_blocks" style="text-align: left;">
            <h2>
                Что Полезно знать при посещении квест рума:
            </h2>
            <p>
                <h3>ВОЗРАСТ:</h3> <strong>К игре допускаются игроки старше 14 лет. Дети от 8 до 13 лет проходят игру в
                сопровождении родителей.</strong>
            </p>
            <p>
                <h3>ВРЕМЯ:</h3><strong> Чтобы не отказывать в игре командам, опоздавшим к началу, между играми есть 5-15 минут
                для полноценного прохождения квест-комнаты. Старайтесь не опаздывать)</strong>
            </p>
            <p>
                <h3>ПОДСКАЗКИ:</h3> <strong>Вы можете всегда обратится к оператору за помощью, и вам дадут подсказку или
                направят на путь решения  ак чтобы игра оставалась интересной для Вас.</strong>
            </p>
            <p>
                <h3>ВСЕ НЕОБХОДИМОЕ</h3> <strong>Для прохождения квеста находится внутри. Запрещено брать с собой подручные средства (телефоны, калькуляторы, фонарики, режущие предметы т.п.). На время игры личные вещи будут закрыты в сейфе.
                После открытия дверей необходимо оставлять КЛЮЧИ в замочных скважинах, а предметы в игре на местах их применения.</strong>
            </p>
            <p>
                <h3>СТОП ИГРА.</h3> <strong>Вы можете прекратить игру в любой момент без объяснения причин.
                Оплата игры при этом не возвращается.</strong>
            </p>

            <h3>ЗАПРЕЩАЕТСЯ:</h3>
            <ul>
                <li><strong>
                    Участвовать в квесте в нетрезвом виде;</strong>
                </li>
                <li><strong>
                    Ломать мебель, двери и другие предметы в помещениях.
                    Основа квеста – логика и наблюдательность, физическая сила в игре не потребуется;</strong>
                </li>
                <li><strong>
                    Разбирать полы и потолки. Подсказок и ключей там точно нет;</strong>
                </li>
                <li><strong>
                    Совать пальцы и посторонние предметы в движущиеся механизмы;</strong>
                </li>
                <li><strong>
                    Перекусывать или обрезать провода;</strong>
                </li>
                <li><strong>
                    Забирать на память элементы декораций;</strong>
                </li>
            </ul>
            <p>
                <strong>
                В случае нарушения игроками одного или нескольких правил АДМИНИСТРАТОР В ПРАВЕ в любой момент
                прекратить игру без возвращения ее стоимости.
                </strong>
            </p>

            <h3>РАЗРЕШАЕТСЯ:</h3>
            <ul>
                <li><strong>
                    громко шутить и веселиться;</strong>
                </li>
                <li><strong>
                    эффективно шевелить извилинами в Вашем мозгу;</strong>
                </li>
                <li><strong>
                    оставлять отзывы о нас в социальных сетях;</strong>
                </li>
                <li><strong>
                    рекомендовать Нас своим друзьям;</strong>
                </li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}